/*place global styles here */
/* html,
body {
	@apply h-full;
} */
/* Custom background styles */
html,
body {
	@apply h-full;
}

body {
	background-image: url('src/lib/backgrounds/calming.jpg'); /* Replace 'path/to/your/image.jpg' with the actual image path */
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
